<div class="hidden-md hidden-lg row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-xs-12">
        Bag:
        <div class="cube cube-{{ cube }}"
              ng-repeat="cube in model.bag track by $index"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        Current<br/>
        <div class="cube cube-{{ cube }}"
              ng-repeat="cube in model.current track by $index"></div>
      </div>
      <div class="col-xs-4">
        Used<br/>
        <div class="cube cube-{{ cube }}"
              ng-repeat="cube in model.used track by $index"></div>
      </div>
      <div class="col-xs-4">
        Treasury<br/>
        <div class="cube cube-{{ cube }}"
              ng-repeat="cube in model.treasury track by $index"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2"
           title="Employment">
        Em: {{ model.employment }}
      </div>
      <div class="col-xs-2"
           title="Public safety">
        PS: {{ model.public_safety }}
      </div>
      <div class="col-xs-2"
           title="Wealth">
        We: {{ model.wealth }}
      </div>
      <div class="col-xs-2"
           title="Health">
        He: {{ model.health }}
      </div>
      <div class="col-xs-2"
           title="Popularity">
        Po: {{ model.popularity }}
      </div>
    </div>
    <button class="btn btn-default col-xs-12"
            ng-click="draw()"
            ng-show="model.bag.length > 0 && model.candraw">
      Year {{ model.year }} - Draw
    </button>
    <button class="btn btn-default col-xs-12"
            ng-click="eoy()"
            ng-show="model.bag.length === 0 && model.current.length === 0">
      End of Year {{ model.year }}
    </button>
    <div ng-repeat="(code, event_choices) in events"
         ng-show="model.current_str === code">
      <button class="btn btn-default col-xs-12"
              ng-repeat="event in event_choices"
              title="{{ event.title }}"
              ng-click="resolve(event)"
              ng-disabled="!check_condition(event)"
              ng-bind-html="event.text">
      </button>
    </div>
    <button class="btn btn-default col-xs-12"
            ng-click="borrow()"
            ng-disabled="model.bag.length === 0">
      Borrow money
    </button>
    <button class="btn btn-default col-xs-12"
            ng-click="taxes()"
            ng-disabled="model.bag.length === 0">
      Raise taxes
    </button>
    <button class="btn btn-default col-xs-12"
            ng-click="payloan()"
            ng-disabled="model.bag.length === 0 || !canpayloan()">
      Pay loan
    </button>
  </div>
</div>
<div class="col-md-12 hidden-xs hidden-sm">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Bag
      </div>
      <div class="panel-body">
        <div class="cube cube-{{ cube }}"
              ng-repeat="cube in model.bag track by $index"></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Current</div>
      <div class="panel-body">
        <div class="cube cube-{{ cube }}"
              ng-repeat="cube in model.current track by $index"></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Used
        <i class="fa fa-trash"
           title="Remove from here"
           ng-show="model.choose_remove.length > 0"
           ng-click="remove(choose_remove, 'used')"></i>
      </div>
      <div class="panel-body">
        <div class="cube cube-{{ cube }}"
              ng-repeat="cube in model.used track by $index"></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Treasury
        <i class="fa fa-trash"
           title="Remove from here"
           ng-show="model.choose_remove.length > 0"
           ng-click="remove(choose_remove, 'treasury')"></i>
      </div>
      <div class="panel-body">
        <div class="cube cube-{{ cube }}"
              ng-repeat="cube in model.treasury track by $index"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3"
       ng-hide="model.gameover">
    <button class="btn btn-default col-sm-12"
            ng-click="draw()"
            ng-show="model.bag.length > 0 && model.candraw">
      Year {{ model.year }} - <b>Draw</b>
    </button>
    <div ng-repeat="(code, event_choices) in events"
         ng-show="model.current_str === code">
      <button class="btn btn-default col-sm-12"
              ng-click="resolve(event)"
              ng-disabled="!check_condition(event)"
              ng-repeat="event in event_choices"
              ng-bind-html="event.text"
              title="{{ event.title }}">
      </button>
    </div>
    <button class="btn btn-default col-sm-12"
            ng-click="eoy()"
            ng-show="model.bag.length === 0 && model.current.length === 0">
      <b>End of Year</b> {{ model.year }}
    </button>
    <button class="btn btn-default col-sm-12"
            ng-click="borrow()"
            ng-disabled="model.bag.length === 0">
      <b>Borrow money</b><hr />
      Add <span class="cube cube-y"></span><span class="cube cube-y"></span>
      to bag <span class="cube cube-b"></span>
    </button>
    <button class="btn btn-default col-sm-12"
            ng-click="taxes()"
            ng-disabled="model.bag.length === 0">
      <b>Raise taxes</b><hr />
      Add to bag <span class="cube cube-y"></span><span class="cube cube-r"></span>
    </button>
    <button class="btn btn-default col-sm-12"
            ng-click="payloan()"
            ng-disabled="model.bag.length === 0 || !canpayloan()">
      <b>Pay loan</b><hr />
      Remove <span class="cube cube-y"></span><span class="cube cube-y"></span><span class="cube cube-b"></span>
    </button>
  </div>
  <div class="col-md-3 text-center"
       ng-show="model.gameover">
    <h2 class="text-danger">Game Over</h2>
    <h4>{{ model.gameover }}</h4>
    Current year : {{ model.year }}
    <button class="btn btn-default col-sm-12"
            ng-click="newgame()"
            ng-disabled="model.bag.length === 0">
      <b>New game</b>
    </button>
  </div>
  <div class="col-md-4">
    <ul>
      <li ng-repeat="(code, event_choices) in events"
          ng-class="{'text-primary': model.current_str === code,
                     'text-muted': model.current_str !== code}">
        <span ng-repeat="cube in event_choices[0].cubes track by $index"
              class="cube cube-{{ cube }}"></span>
        {{ event_choices[0].title }}:<br />
        <ul>
          <li ng-repeat="event in event_choices">
            <small ng-bind-html="event.text"></small>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-md-2">
    <table class="table rhs-tracks">
      <thead>
        <tr>
          <th>E</th>
          <th>PS</th>
          <th>W</th>
          <th>H</th>
          <th>P</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="line in scale_lines track by $index">
          <td ng-repeat="n in [model.employment,
                               model.public_safety,
                               model.wealth,
                               model.health,
                               model.popularity] track by $index"
              class="text-center"
              ng-class="{'activescale': n === line[0],
                         'text-danger': n === 0}">
            <b ng-show="n === line[0]">{{ n }}</b>
            <small ng-hide="n === line[0]">{{ line[1] }}</small>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <span>Private enterprise: {{ model.private_enterprise_fin }}, {{ model.private_enterprise_cuts }} cuts.</span><br />
    <span>National security: {{ model.national_security_fin }}, {{ model.national_security_cuts }} cuts.</span><br />
    <span>Social welfare: {{ model.social_welfare_fin }}, {{ model.social_welfare_cuts }} cuts.</span><br />
  </div>
  <div class="col-sm-12 col-md-6">
    <ul>
      <li ng-repeat="logline in model.log track by $index">{{ logline }}</li>
    </ul>
  </div>
</div>
