<div class="jumbotron">
  <h1>Austerity</h1>

  <p class="lead">
    A solitaire boardgame designed by Jake Staines.
  </p>

  <ul class="list-inline social-buttons">
    <li>
      <iframe 
        src="http://ghbtns.com/github-btn.html?user=court-jus&amp;repo=ng-austerity&amp;type=watch&amp;count=true" 
        allowtransparency="true" 
        frameborder="0" 
        scrolling="0" 
        width="110" 
        height="20">
      </iframe>
    </li>
    <li>
      <iframe 
        src="http://ghbtns.com/github-btn.html?user=court-jus&amp;repo=ng-austerity&amp;type=fork&amp;count=true" 
        allowtransparency="true" 
        frameborder="0" 
        scrolling="0" 
        width="95" 
        height="20">
      </iframe>
    </li>
    <li>
       <iframe allowtransparency="true" frameborder="0" scrolling="no"
        src="https://platform.twitter.com/widgets/tweet_button.html?url=http%3A%2F%2Fbit.ly%2FngAusterity&counturl=http%3A%2F%2Fcourt-jus.github.com%2Fng-austerity&text=Check%20out%20%23ng-austerity%20-%20an%20awesome%20boardgame&hashtags=boardgame&via=court_jus&related=court_jus"
        style="width:130px; height:20px;"></iframe>
    </li>
    <li plus-one></li>
  </ul> 

</div>

<div class="col-md-12 hidden-xs hidden-sm">
  <div class="col-md-3">
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-2">
    <table class="table rhs-tracks">
      <thead>
        <tr>
          <th>E</th>
          <th>PS</th>
          <th>W</th>
          <th>H</th>
          <th>P</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10</td> <td>10</td> <td>10</td> <td>10</td> <td>10</td>
        </tr>
        <tr>
          <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
        </tr>
        <tr>
          <td>7</td> <td>7</td> <td>7</td> <td>7</td> <td>7</td>
        </tr>
        <tr>
          <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
        </tr>
        <tr>
          <td>5</td> <td>5</td> <td>5</td> <td>5</td> <td>5</td>
        </tr>
        <tr>
          <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
        </tr>
        <tr>
          <td>3</td> <td>3</td> <td>3</td> <td>3</td> <td>3</td>
        </tr>
        <tr>
          <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
        </tr>
        <tr>
          <td>1</td> <td>1</td> <td>1</td> <td>1</td> <td>1</td>
        </tr>
        <tr>
          <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-sm-12 col-md-6">
  <pre>{{ model.bag }}</pre>
  <pre>{{ model.current_str }}</pre>
  <pre>{{ model.used }}</pre>
  <pre>{{ model.tresory }}</pre>
  <span>Employment: {{ model.employment }}</span><br />
  <span>Public Safety: {{ model.public_safety }}</span><br />
  <span>Wealth: {{ model.wealth }}</span><br />
  <span>Health: {{ model.health }}</span><br />
  <span>Popularity: {{ model.popularity }}</span><br />
  <button class="btn btn-default"
          ng-click="draw()"
          ng-show="model.bag.length > 0 && model.candraw">
    Draw
  </button>
  <button class="btn btn-default"
          ng-click="eoy()"
          ng-show="model.bag.length === 0 && model.current.length === 0">
    End of Year
  </button>
  <button class="btn btn-default"
          ng-click="resolve(event)"
          ng-repeat="(code, event) in events"
          title="{{ event.text }}"
          ng-show="model.current_str === code">
    {{ event.title }}
  </button>
  <button class="btn btn-default"
          ng-click="borrow()"
          ng-disabled="model.bag.length === 0">
    Borrow money
  </button>
  <button class="btn btn-default"
          ng-click="taxes()"
          ng-disabled="model.bag.length === 0">
    Raise taxes
  </button>
  <button class="btn btn-default"
          ng-click="payloan()"
          ng-disabled="model.bag.length === 0">
    Pay loan
  </button><br />
  <span>Private enterprise: {{ model.private_enterprise_fin }}, {{ model.private_enterprise_cuts }} cuts.</span><br />
  <span>National security: {{ model.national_security_fin }}, {{ model.national_security_cuts }} cuts.</span><br />
  <span>Social welfare: {{ model.social_welfare_fin }}, {{ model.social_welfare_cuts }} cuts.</span><br />
</div>
<div class="col-sm-12 col-md-6">
  <ul>
    <li ng-repeat="logline in model.log track by $index">{{ logline }}</li>
  </ul>
</div>