<div class="modal-header">
  <h3 class="modal-title">Remove a cube</h3>
</div>
<div class="modal-body">
  <ul>
    <li ng-repeat="choice in choices">
      <a href="#" ng-click="$event.preventDefault(); selected.choice = choice">
        {{ choice }}
      </a>
    </li>
  </ul>
  Selected: <b>{{ selected.choice }}</b>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
